:root {
    --cor1:#222222;
}

body {
    background-color: var(--cor1);
    color: white;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo {
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
    transition: 0.9s all;
}

h1 {

}

