:root {
    --cor1:blue;
}


*{
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    background-color: transparent;
    color: black;
    display: flex;
    min-width: 100vw;
    
}

header.ativo {
    background-color: gray;
}

nav > ul {
    display: flex;
    margin: 20px;
    list-style-type: none;
    gap: 20px;
    
}

p {
    
    font-size: 100px;
}


