:root {
    --cor1:#222222;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../media/imgs/foto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    color: white;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header.ativo {
    background-color: rgba(255, 0, 0, 0.979);
}


#titulo {
    line-height: 20px;
    padding:20px;
}

li {
    display: inline-block;
    margin: 30px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
    transition: 0.9s all;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 10px;
}

main {
    max-width: 1500px;
    margin: auto;
    padding: 10px;
}